# Ignorar el entorno virtual
venvs/
deploy/

# Archivos de compilación de Python
__pycache__/
*.pyc

# Archivos de base de datos SQLite
db.sqlite3

# Otros archivos que no quieres rastrear
*.log
*.env

# Ignorar PyWhatKit_DB.txt
src/tmsoftware/PyWhatKit_DB.txt

# Ignorar toda la carpeta media
src/tmsoftware/media/