# Ignorar el entorno virtual
venvs/
deploy/
.env

# Archivos de compilación de Python
__pycache__/
*.pyc
.idea/
get-pip.py

# Archivos de base de datos SQLite
db.sqlite3

# Otros archivos que no quieres rastrear
*.log
*.env

# Ignorar toda la carpeta
src/tmsoftware/media/
src/kivy_app/.buildozer/
src/kivy_app/buildozer.spec
src/kivy_app/android-sdk.zip
src/kivy_app/bin
src/kivy_app/.python-version
src/kivy_app/.gradle
src/kivy_app/dist
src/kivy_app/main.spec
src/kivy_app/build/
